form{
    padding: var(--p1) ;
    border-radius:var(--border-radius);
    background-color:#fff;
    max-width:450px;
    margin: 0 auto;
    
}
label{
    display: flex;
    font-weight:500;
    margin-bottom: 5px;
    color: var(--secendry-color);
}

input[type="text"],input[type="tel"],input[type="email"],input[type="password"],select{
    width: 100%;
    padding: 6px 12px;
    display: block;
    background-color:var(--white-color);
    border-radius:var(--border-radius); 
    border: 1px solid var(--border-color);

}
input:focus{
    outline: none;
    border: 2px solid var(--border-color);

}
.formControl{
    margin-bottom: 25px;
}
.error{
    color: red;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}