:root {
  --primary-color: #7e22ce;
  --secendry-color:    #a855f7;
  --border-color:#e9d5ff;
  --black-color: rgb(56, 52, 52);
  --white-color: #faf5ff;
  /*  */
  --header-height: 4rem;

  /* margin */
  --m1: 0.5rem;
  --m2: 1rem;
  --m3: 1.5rem;
  --m4: 2rem;
  --m5: 2.5rem;
  --m6: 3rem;

  /* padding */
  --p1:0.5rem;
  --p2: 1rem;
  --p3: 1.5rem;

  /* font size */
  --h1-font-size:4rem;
  --h2-font-size: 3.5rem;
  --h3-font-size: 2.5rem;
  --h4-font-size: 2rem;
  --h5-font-size: 1.6rem;
  --h6-font-size: 1rem;


  --border-radius:5px;
}
section{
  margin:calc(var(--header-height) + 1rem)  auto;
}
.bd-container {
  max-width: 1270px;
  width: calc(100% - 2rem);
  padding: 0 var(--p1);
  overflow: hidden;
  margin: 0 auto;
}