*,::before,::after {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  line-height: 2;
  list-style: none;
}
html {
  font-size: 100%;
}
body{
  background-color: #faf5ff;
 width: 100%;

}
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }}
