/* .productList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    grid-gap: 3rem;
    width: 100%;
  }
  .productImg img{
    width: 100%;
    height: 200px;
    border-radius:var(--border-radius);
  }
  .product{
    display: flex;
    flex-direction: column;
    border-radius:var(--border-radius);
    position: relative;
    border: solid 1px var(--border-color);
    padding: var(--p1);

  }
  .product:hover{
    border: solid 3px var(--border-color);
  }
  .productDesc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--p1);
  }
  .productDesc-price-offprice{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--p1);
  }
.productDesc-price{
    text-decoration:line-through ;
    opacity: 0.3;
  } 
  .productDesc-offprice{
    color: green;
  }

  .product-discount{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
    color: #fff;
    border-radius: 50%;
position: absolute;
top: -10px;
left:-10px;
border: solid 5px pink;
  }
  .none{
    display: none;
  }
  .btn-incart{
    background-color: green;
    color: #fff;
  } */